<li>
	{{name}}
	<br>
	<button class="change-devoured btn btn-secondary btn-sm" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour Time!{{else}}Replenish{{/if}}
	</button>
	<button class="delete-burger btn btn-secondary btn-sm" data-id="{{this.id}}">Delete</button>
</li>