<li>
	{{name}}

	<button class="change-devoured btn btn-secondary" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour Time!{{else}}Replenish{{/if}}
	</button>

	<button class="delete-burger btn btn-secondary" data-id="{{this.id}}">Delete</button>
</li>